body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #222;
    color: #fff;
    overflow: auto;
}

.container-jogo {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-jogo h1{
    padding: 20px;
    font-size: 40px;
    color: #ffc107;
}

.container-jogo select{
    text-align: center;
    margin-top: 15px;
    padding: 5px;
    font-size: 15px;
}

label {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: #bbb;
}

.tabuleiro {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(var(--tamanho-tabuleiro), 1fr);
    grid-template-rows: repeat(var(--tamanho-tabuleiro), 1fr);
    gap: 10px;
    padding: 10px;
}

.celula {
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 50px;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #555;
    transition: background-color 0.3s ease;
}

.celula:hover {
    background-color: #666;
}

.ultima-jogada {
    background-color: #ffc107;
}

#botao-reiniciar {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#botao-reiniciar:hover {
    background-color: #444;
}

#jogador-atual {
    padding-top: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffc107;
}
